{# {% extends 'base.html.twig' %} #}
{% extends "/layout/master.html.twig" %}

{% block title %}Épisode Maker - Ajouter/Modifier{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">{{ episode.id is defined ? '✏️ Modifier un contenu' : '➕ Ajouter un contenu' }}</h1>

    {{ form_start(form, { 'attr': {'class': 'needs-validation'} }) }}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.type) }}
                    {{ form_widget(form.type, { 'attr': {'class': 'form-select'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.status) }}
                    {{ form_widget(form.status, { 'attr': {'class': 'form-select'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.platform) }}
                    {{ form_widget(form.platform, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_label(form.reminder) }}
                    {{ form_widget(form.reminder, { 'attr': {'class': 'form-control', 'type': 'date'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.notes) }}
                    {{ form_widget(form.notes, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">{{ episode.id is defined ? '💾 Modifier' : '➕ Ajouter' }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}
