<!-- Header Section starts -->
<header class="header-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-4 d-flex align-items-center header-left p-0">
                <span class="header-toggle me-3">
                  <i class="ph ph-circles-four"></i>
                </span>
            </div>

            <div class="col-6 col-sm-8 d-flex align-items-center justify-content-end header-right p-0">

                <ul class="d-flex align-items-center">

                    

                    
                    

                    

                    

                   

                    {# <li class="header-dark">
                        <div class="sun-logo head-icon">
                            <i class="ph ph-moon-stars"></i>
                        </div>
                        <div class="moon-logo head-icon">
                            <i class="ph ph-sun-dim"></i>
                        </div>
                    </li> #}

                    <li class="header-notification">
                        <a href="#" class="d-block head-icon position-relative" role="button" data-bs-toggle="offcanvas"
                           data-bs-target="#notificationcanvasRight" aria-controls="notificationcanvasRight">
                            <i class="ph ph-bell"></i>
                            <span
                                class="position-absolute translate-middle p-1 bg-success border border-light rounded-circle animate__animated animate__fadeIn animate__infinite animate__slower"></span>
                        </a>
                        <div class="offcanvas offcanvas-end header-notification-canvas" tabindex="-1"
                             id="notificationcanvasRight" aria-labelledby="notificationcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="notificationcanvasRightLabel">Notification</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body app-scroll p-0">
                                <div class="head-container">
                                    <div class="notification-message head-box">
                                        <div class="message-images">
                                            <span class="bg-secondary h-35 w-35 d-flex-center b-r-10 position-relative">
                                                <img src="{{asset('../assets/images/logo/3.png')}}" alt="" class="img-fluid b-r-10">
                                                <span
                                                    class="position-absolute bottom-30 end-0 p-1 bg-secondary border border-light rounded-circle notification-avtar"></span>
                                            </span>
                                        </div>
                                        <div class="message-content-box flex-grow-1 ps-2">

                                            {# <a href="{{path('read_email')}}" class="f-s-15 text-secondary mb-0"><span #}
                                                Notification test
                                            {# </a> #}
                                            <div>
                                                <a class="d-inline-block f-w-500 text-success me-1" href="#">OK</a>
                                                <a class="d-inline-block f-w-500 text-danger" href="#">KO</a>
                                            </div>
                                            <span class="badge text-light-secondary mt-2"> 21 JUILLET </span>

                                        </div>
                                        <div class="align-self-start text-end">
                                            <i class="ph ph-trash f-s-18 text-danger close-btn"></i>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="header-profile">
                        <a href="#" class="d-block head-icon" role="button" data-bs-toggle="offcanvas"
                           data-bs-target="#profilecanvasRight" aria-controls="profilecanvasRight">
                            <img src="{{asset('../assets/images/avtar/woman.jpg')}}" alt="avtar" class="b-r-10 h-35 w-35">
                        </a>

                        <div class="offcanvas offcanvas-end header-profile-canvas" tabindex="-1" id="profilecanvasRight"
                             aria-labelledby="profilecanvasRight">
                            <div class="offcanvas-body app-scroll">
                                <ul class="">
                                    <li>
                                        <div class="d-flex-center">
                              <span class="h-45 w-45 d-flex-center b-r-10 position-relative">
                                <img src="{{asset('../assets/images/avtar/woman.jpg')}}" alt="" class="img-fluid b-r-10">
                              </span>
                                        </div>
                                        <div class="text-center mt-2">
                                            <h6 class="mb-0"> {{ app.session.get('user_name') }}</h6>
                                            <p class="f-s-12 mb-0 text-secondary">{{ app.session.get('user_email') }}</p>
                                        </div>
                                    </li>

                                    <li class="app-divider-v dotted py-1"></li>
                                    <li>
                                        {# <a class="f-w-500" href="{{path('profile')}}" target="_blank"> #}
                                            <i class="ph-duotone  ph-user-circle pe-1 f-s-20"></i> Détails du profil
                                        </a>
                                    </li>
                                    <li>
                                        {# <a class="f-w-500" href="{{path('setting')}}" target="_blank"> #}
                                            <i class="ph-duotone  ph-gear pe-1 f-s-20"></i> Paramètres
                                        </a>
                                    </li>
                                    
                                    
                                    
                                    <li class="app-divider-v dotted py-1"></li>
                                    {# <li> #}
                                        {# <a class="f-w-500" href="{{path('faq')}}" target="_blank"> #}
                                            {# <i class="ph-duotone  ph-question pe-1 f-s-20"></i> Aide
                                        </a> #}
                                    {# </li> #}
                                    {# <li> #}
                                        {# <a class="f-w-500" href="{{path('pricing')}}" target="_blank"> #}
                                            {# <i class="ph-duotone  ph-currency-circle-dollar pe-1 f-s-20"></i> Forfaits
                                        </a> #}
                                    {# </li> #}
                                    
                                    {# <li class="app-divider-v dotted py-1"></li>
                                    <li>
                                        <div class="card card-light-primary upgrade-plan">
                                            <div class="card-body">
                                                <!-- <img src="{{asset('../assets/images/header/01.png')}}" class="w-80" alt=""> -->
                                                <div class="text-center">
                                                    <div>
                                                        <h6 class="mb-0 text-dark f-w-600">Plan gratuit</h6>
                                                        <p class="text-dark mb-0">20k views</p>
                                                    </div>
                                                    <div class="flex-shrink-0 mt-3">
                                                        <button type="button" class="btn btn-dark text-white">Mise à niveau</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="app-divider-v dotted py-1"></li> #}

                                    <li>
                                        

                                            {% if app.session and app.session.get('user_id') %}
                                                <a href="{{ path('logout') }}" class="mb-0 text-danger"> <i class="ph-duotone ph-sign-out pe-1 f-s-20"></i> Déconnecter</a>
                                            {% else %}
                                                <a href="{{ path('sign_in') }}" class="mb-0 text-danger"> <i class="ph-duotone ph-sign-in pe-1 f-s-20"></i> Se connecter</a>
                                            {% endif %}

                                        
                                        {# <a class="mb-0 text-danger" href="{{path('sign_in')}}">
                                            <i class="ph-duotone  ph-sign-out pe-1 f-s-20"></i> Se déconnecter
                                        </a> #}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Header Section ends -->
