<!DOCTYPE html>
<html lang="en">

<head>
    {% include "layout/head.html.twig" %}
    <title>{% block title %}Sign in{% endblock %} | Ra-admin - Premium Admin Template</title>
    {% include "layout/css.html.twig" %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/responsive.css') }}">
    {% endblock %}
</head>

<body class="sign-in-bg">
<div class="app-wrapper d-block">
    <div class="main-container">
        <div class="container">
            <div class="row sign-in-content-bg">
                <div class="col-lg-6 image-contentbox d-none d-lg-block">
                    <div class="form-container">
                        <div class="signup-content mt-4">
                            <span>
                                <img src="{{ asset('../assets/images/logo/1.png') }}" alt="" class="img-fluid">
                            </span>
                        </div>
                        <div class="signup-bg-img">
                            <img src="{{ asset('../assets/images/login/04.png') }}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 form-contentbox">
                    <div class="form-container">
                        {# Vérifie si une session utilisateur est active #}
                        {% if app.session and app.session.get('user_id') %}
                            <div class="text-center">
                                <h2 class="text-primary f-w-600">Bonjour, {{ app.session.get('user_name') }} !</h2>
                                <p>Bienvenue dans votre espace utilisateur.</p>
                                <a href="{{ path('logout') }}" class="btn btn-danger">Déconnecter</a>
                            </div>
                        {% else %}
                            {{ form_start(form, {'attr': {'class': 'app-form'}}) }}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center text-lg-start">
                                            <h2 class="text-primary f-w-600">Bienvenue sur Meduse !</h2>
                                            <p>Forgeons vos ambitions, de la pierre au joyau !</p>
                                        </div>
                                    </div>

                                    {# <div class="mb-4 col-12">
                                        {{ form_row(form.myth_code) }}
                                    </div> #}

                                    <div class="mb-4 col-12">
                                        {{ form_row(form.email) }}
                                    </div>

                                    <div class="mb-4 col-12">
                                        {{ form_row(form.password) }}
                                    </div>

                                    <div class="mb-4 col-12">
                                        {{ form_row(form.remember_me) }}
                                    </div>

                                    <div class="col-12">
                                        {{ form_row(form.submit) }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text-center text-lg-start"><br>
                                        Vous n'avez pas de compte ? <a href="{{ ('../sign/up') }}"
                                                                    class="link-primary text-decoration-underline"> S'inscrire</a>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
    <script src="{{ asset('assets/js/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>
